<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8WZxoqZgvLPgQ7BoDo6ym9tCzhRpTEvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>385870643931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbta.LBTASwiftUIFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>lbta-swiftui-firebase-ch-55aad</string>
	<key>STORAGE_BUCKET</key>
	<string>lbta-swiftui-firebase-ch-55aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385870643931:ios:d14a1628958d757c62c2fe</string>
</dict>
</plist>